@charset "utf-8";
/* CSS Document */

body,td,th,p{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
	line-height: 1.5;
}
body {
	background-color: #fdfdfd;
	margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
	position:relative;
  max-width: 100em;
}
ul, li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	color: #333;
}
a {
	color: orange;
	text-decoration: none;
}
a:hover, a:focus {
	color: #3397db;
	text-decoration: none;
}
a img{
	border: none 0 #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0 20px;
}
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
#maincontent {
  background-color: #f3f3f3;
  min-height: 100%;
}
#footer {
  background-color: #444;
  color: #aaa;
  font-size: 8pt;
  letter-spacing: 1px;
  padding: 25px;
  text-align: center;
  text-transform: uppercase;
}
/* ====================== Navigation ====================== */
nav {
  width: 100%;
  height: 80px;
  background-color: #252831;
  text-align:center;
  height: 12vh;
  max-height: 4em;
}

nav h1 {
  margin: auto;
}

nav h1 a {
  color: #fff;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 10px;
  text-transform: uppercase;
}

#breadcrumb {
    padding: 10px 40px 16px;
    list-style: none;
    background-color: #eee;
    font-size: 17px;
    margin: 0;
    width: calc(50% - 80px);
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: #0275d8;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: #01447e;
    text-decoration: underline;
}

/* ====================== Map ====================== */
#map {
  height: 33vh;
  width: 100%;
  background-color: #ccc;
}

/* ====================== Restaurant Filtering ====================== */
.filter-options {
  width: 100%;
  /*background-color: #3397DB;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}

.filter-options h2 {
  display: none;
  /*color: white;
  font-size: 1rem;
  font-weight: normal;
  line-height: 1;
  margin: 0 20px;*/
}

.filter-options select {
  background-color: white;
  border: 1px solid #fff;
  font-family: Arial,sans-serif;
  font-size: 11pt;
  height: 2em;
  letter-spacing: 0;
  margin: 10px;
  padding: 0 1em;
  width: 200px;
}

/* ====================== Restaurant Listing ====================== */
#restaurants-list {
  background-color: #f3f3f3;
  list-style: outside none none;
  margin: 0;
  padding: 0 1em 2em;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#restaurants-list li {
  background-color: #fff;
  border: 1px solid #ccc;
  font-family: Arial,sans-serif;
  margin: 0.5em;
  text-align: left;
  width: 100%;
  max-width: 32em;
}

#restaurants-list .restaurant-img {
  background-color: #ccc;
  display: block;
  margin: 0.5em;
  max-height: 10vh;
  object-fit: cover;
}

#restaurants-list .restaurant-location {
    margin: 0.5em;
    margin-left: 0;
}

#restaurants-list .restaurant-info {
  display: flex;
}

#restaurants-list li h1 {
  color: #f18200;
  font-family: Arial,sans-serif;
  font-size: 14pt;
  font-weight: 200;
  letter-spacing: 0.1em;
  line-height: 1.3;
  margin: 0.5em;
  margin-bottom: 0;
  text-transform: uppercase;
}


#restaurants-list p {
  margin: 0;
  font-size: 11pt;
}

#restaurants-list li a {
  background-color: orange;
  border-bottom: 3px solid #eee;
  color: #fff;
  display: inline-block;
  font-size: 10pt;
  margin: 0.5em;
  padding: 8px 30px 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

/*SMALL AND TIGHT*/
@media screen and (max-width: 25em) {

  #restaurants-list li h1 {
    font-size: 10pt;
  }

  nav h1 a {
    letter-spacing: 0.1em;
  }

  #restaurants-list p {
    font-size: 9pt;
  }

}

/*ROOMY*/
@media screen and (min-width: 43em) {

  #restaurants-list {
    flex-direction: row;
    flex-wrap: wrap;
  }

  #restaurants-list li {
    max-width: 23em;
  }

  #restaurants-list .restaurant-info {
    flex-direction: column;
  }

  #restaurants-list .restaurant-img {
    max-height: 20vh;
  }

  #restaurants-list .restaurant-location {
      margin: 0.5em;
  }

  #restaurants-list li h1 {
    letter-spacing: 0;
  }

}
