@charset "utf-8";
/* CSS Document */

* {
    box-sizing: border-box;
}

/* https://webaim.org/techniques/css/invisiblecontent/ */

.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

body,
td,
th,
p {
    font-size: 10pt;
    color: #333;
    line-height: 1.5;
}

body {
    font-family: /*"Roboto", */sans-serif;
    background-color: #fdfdfd;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 84em;
}

ol,
ul {
    padding: 0;
}

blockquote {
    margin: 0;
}

address {
    font-style: initial;
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

#maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
}

/* ====================== Footer ========================= */

#footer {
    background-color: #444;
    color: snow;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 1em;
    text-align: center;
    text-transform: uppercase;
}

#footer a {
    color: skyblue;
    text-decoration: none;
}

#footer a:hover,
a:focus {
    color: white;
    text-decoration: underline;
}

/* ====================== Navigation ====================== */

#site-header {
    padding: 1em 0;
    width: 100%;
    color: snow;
    background-color: #252831;
    text-align: center;
}

#site-header h1 a {
    color: snow;
    font-size: 14pt;
    font-weight: 200;
    letter-spacing: 10px;
    text-transform: uppercase;
}

/* ====================== Map ====================== */

#map {
    height: 33vh;
    width: 100%;
    background-color: #ccc;
}

/* SMALL AND TIGHT */

@media screen and (max-width: 25em) {
    nav h1 a {
        letter-spacing: 0.1em;
    }
}
