/* ====================== breadcrumb ============================== */
#breadcrumb {
    list-style: none;
    font-size: 1em;
    margin: 0;
}

    #breadcrumb li {
        display: inline;
    }

        /* Add a slash symbol (/) before/behind each list item */
        #breadcrumb li + li:before {
            padding: 8px;
            color: #ccc;
            content: "/\00a0";
        }

        #breadcrumb li a {
            color: skyblue;
        }

            #breadcrumb li a:hover, a:focus {
                color: white;
                text-decoration: underline;
            }
