h2 p {
    color: #346;
    margin: 1em 0 0.25em 0;
}

h2 p span {
  margin-left: 0.5em;
}

/* ====================== breadcrumb ============================== */
#breadcrumb {
    /*padding: 10px 40px 16px;*/
    list-style: none;
    /*background-color: #eee;*/
    font-size: 1em;
    margin: 0;
    /*width: calc(50% - 80px);*/
    widows: 100%;
}

/* Display list items side by side */
#breadcrumb li {
    display: inline;
}

/* Add a slash symbol (/) before/behind each list item */
#breadcrumb li+li:before {
    padding: 8px;
    color: #ccc;
    content: "/\00a0";
}

/* Add a color to all links inside the list */
#breadcrumb li a {
    color: skyblue;
    text-decoration: none;
}

/* Add a color on mouse-over */
#breadcrumb li a:hover {
    color: white;
    text-decoration: underline;
}


/* ====================== Restaurant Details ====================== */
.inside header {
  /*position: fixed;
  top: 0;*/
  width: 100%;
  /*z-index: 1000;*/
}

.inside #map-container {
  background: blue none repeat scroll 0 0;
  height: 40vh;
  max-height: 22em;
  width: 100%;
}

.inside #map {
  background-color: #ccc;
  height: 100%;
  width: 100%;
}

.inside #footer {
  /*bottom: 0;
  position: absolute;*/
  /*width: 100%;*/
}

#restaurant-name {
  padding: 0.5em;
  text-align: center;
  /*color: #f18200;*/
  /*font-family: Arial,sans-serif;*/
  font-size: 20pt;
  font-weight: 200;
  letter-spacing: 0.1em;
  /*margin: 15px 0 30px;*/
  text-transform: uppercase;
  line-height: 1.1;
}

#restaurant-img {
  display:block;
  height: 40vh;
  max-height: 22em;
  width: 100%;
  object-fit: cover;
}

#restaurant-address {
  /*font-size: 12pt;
  margin: 10px 0;*/
}

/*#restaurant-cuisine {
  background-color: #333;
  color: snow;
  font-size: 12pt;
  font-weight: 300;
  letter-spacing: 10px;
  margin: 0 0 1em;
  padding: 2px 0;
  text-align: center;
  text-transform: uppercase;
	width: 100%;
}*/

#restaurant-body {
  margin: 0 1em 0 1em;
  /*display:flex;
  flex-direction: row;*/
}

#reviews-container {
  /*border-bottom: 1px solid #d9d9d9;
  border-top: 1px solid #fff;*/
  /*padding: 140px 40px 30px;*/
  /*width: 100%;*/
}

#restaurant-details{
  /*display:flex;
  flex-direction: column;*/
}

#restaurant-hours td {
  /*color: #666;*/
}

/* ====================== Reviews ================================= */

#reviews-container {
  /*padding: 30px 40px 80px;*/
}

#reviews-list {
  margin: 0;
  padding: 0;
}

#reviews-list li {
  background-color: #fff;
  list-style-type: none;
  border-bottom: 1px solid #f3f3f3;
  /*
  display: block;
  margin: 0 0 30px;
  overflow: hidden;
  position: relative;*/
  padding: 0 1em 1em;
  /*width: 100%;*/
}

#reviews-list li p {
  margin: 0 0 1em;
}

.review-name {
  font-weight: 700;
}

/*ROOMY*/
@media screen and (min-width: 43em) {

  #restaurant-details {
    flex-direction: row;
  }

  #restaurant-body {
    display:flex;
    flex-direction: row;
  }
  
  #restaurant-details {
    min-width: 22em;
  }
}