.container {
    display: block;
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

    .container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

        .container input:active ~ .favorite {
            background-color: #bbb;
        }

        .container input:focus ~ .favorite {
            background-color: #ddd;
        }

    .container .favorite:hover {
        background-color: #eaeaea;
    }

.is-favorite {
    color: #2D7EBC;
}

.is-not-favorite {
    color: #8b8b8b;
}
