/* ADAPTED FROM https://www.w3schools.com/howto/howto_css_switch.asp */

input {
    margin: 0.5em;
}

/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 4em;
    height: 2em;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}

    .slider:before {
        position: absolute;
        content: "";
        height: 1.5em;
        width: 1.5em;
        left: 10%;
        bottom: 12%;
        background-color: white;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

input:checked + .slider {
    background-color: #D9E8F5;
}

input:focus + .slider:before {
    box-shadow: 1px 1px 1px #333;
}

input:checked + .slider:before {
    -webkit-transform: translateX(1.75em);
    -ms-transform: translateX(1.75em);
    transform: translateX(1.75em);
    background-color: #346;
}

/* Rounded sliders */
.slider.round {
    border-radius: 3em;
}

input:focus + .slider.round {
    border: 1px #79ABFE solid;
}

.slider.round:before {
    border-radius: 50%;
}
